@model IEnumerable<LoginForm.Models.course>

@{
    ViewBag.Title = "Index";
}

<div class="navbar navbar-inverse navbar-fixed-top bg-black">
    <div style="color: white; margin: 4px;">
        @Html.ActionLink("Student Management ", "Index", "Login")
        @Html.ActionLink("Batch", "Index", "Batch")
        @Html.ActionLink("Course", "Index", "Course")
        @Html.ActionLink("Logout", "Logout", "Login")
    </div>
</div>
<br />
<h2>Course List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.course1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.course_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.course_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.course_id })
        </td>
    </tr>
}

</table>
